/* style.css */

body {
    background-color: rgb(170, 183, 209);
    font-family: Tahoma;
}

a {
    color: rgb(172, 117, 30);
    text-decoration: none;
    line-height: 30px;
}

a:hover {
    color: blanchedalmond;
}

.btn {
    background-color: rgba(129, 104, 173, 0.259);
    
    margin: 10px;
    padding: 10px;
    border-radius: 1em;
}

.title {
    /* background-color: red; */
    text-align: center;
    margin: 45px;
}

.menu{
    /* background-color: pink; */
    list-style-type: none;
    text-align: center;

    margin: 0 auto;
    padding: 0;
}

.menu li {
    background-color: rgba(129, 104, 173, 0.259);

    max-width: 300px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 20px;
}