/* style.css */

.menu{
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 80%;
    width: 500px;
}

.menu-item {
    margin: 10px 0;
}