/* style.css */

body {
    background-color: rgb(170, 183, 209);
    font-family: Tahoma;
}

a {
    color: rgb(172, 117, 30);
    text-decoration: none;
    line-height: 30px;
}

a:hover {
    color: blanchedalmond;
}

a:visited {
    color: rgb(84, 64, 32);
}

.btn {
    background-color: rgba(129, 104, 173, 0.259);
    margin: 10px;
    padding: 10px;
    border-radius: 1em;
}

.title {
    /* background-color: red; */
    margin: 20px;
    text-align: center;
}

.menu {
    /* background-color: black; */
    display: table;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.menu-items {
    width: 300px;
    height: 30px;
}